*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

html{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}
/* common */
/* clear tính năng của float về kích thước ban đầu */
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width:50%
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

/* main */
#main{

}

#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top :0px;
    left:0px;
    right:0px;
    z-index: 1;
    /* overflow: hidden; */
    /* overflow: visible; */
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    
    position: relative;
    
}

#nav,.subnav,.tickets-list li{
    list-style:none
}

.subnav li:hover a,
#nav > li:hover > a{
    background-color: #ccc;
    
}

#nav>li>a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display:block;
    
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-btn ,.mobile-menu-btn{
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 21px;
    
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
.mobile-menu-btn:hover{
    background-color:#ccc;

}
.mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#nav li:hover .subnav {
    display: inline-block;
}

#nav .subnav a{
    color: #000;
    padding: 0px 16px;
    line-height:38px
}

#nav .subnav{
    min-width: 160px;
    top:100%;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}






#slider{
    position: relative;
    margin-top: 46px;
    padding-top:50%;
    background: url("/w3_band/assets/image/slider/chicago.jpg") top center /cover no-repeat;
    /* background image/ position/ size/ repeat */
    
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom:48px;
    /* text-align: center;
    right:0px;
    left: 0px; */
    left:50%;
    transform:translateX(-50%);
    /* dịch chuyển chữ 50% theo trục x */
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-decription{
    font-size: 15px;
    margin-top: 25px;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px; 
    /* khoảng cách từng ký tự letter - spacing */
    
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.7;
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;

}

#content .member-item{
    float: left;
    /* width:33.33333% */
    width: calc(100%/3);
    text-align: center;
}

#content .member-name{
    
    margin-bottom: 15px;
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    border-radius: 4px;
}

/* tour -section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    margin-top: 40px;
    background-color: #fff;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin: -3px;

}

/* place */
.places-list{
    /* margin: 32px -8px 48px; */
    margin-top: 32px;
   
    
}

.place-item{
    float:left;
    width:calc(100%/3);
    padding: 0 8px;
}

.place-img{
    width:100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.Place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.Place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    /* biến giao diện thành display flex */
    align-items: center;
    justify-content: center;/*nằm giữa chiều cao  */
}

.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

header.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right:16px;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding:18px;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}


.modal-footer a{
    color: #2196F3;

}

@keyframes modalFadeIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width:30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}
.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    cursor: pointer;
}

/* Map section */
.map-section img{
    width:100%
}
#footer{
    padding: 64px 16px;
    text-align: center;

}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .socials-list a:hover, #footer .copyright a:hover{
    color: rgba(0,0,0,0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);

}
/* Pc */
@media(min-width:1024px){

}
/* Tablet */
@media (min-width: 740px) and (max-width:1023){

}

/* Mobile */
@media (max-width: 740px){
    #header{
       overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav >li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    
    #header .search-btn{
        display: none;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    .modal-container{
        max-width: calc(100% - 16px);
    }

    #content .member-list {
        margin-top: 15px;
    }

    #content .member-item{
        width: 100%;
        margin-top: 32px;
    }
    #content .member-img {
        width: 60%;
        border-radius: 4px;
    }
    .places-list {
        /* margin: 32px -8px 48px; */
        margin-top: 16px;
    }
    .place-item {
        margin-top: 16px;
        padding: 0 8px;
        width: 100%;
    }
    .col-half {
        width: 100%;
    }
    .col {
       
        padding-left: 8px;
        padding-right: 8px;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .width-full{
        width: 100%;
    }

}